<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>4RT - Community_Post_Topic_Select</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
        <link rel="stylesheet" href="../../static/css/Community_Post_Topic_Select.css">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    </head>
    <body>
        
        <div class="Community_Post_Topic_Select">
                <p class="Topic_Select">주제 선택</p>
            <button class="Topic_Select_btn1">
                <p class="Topic_Select_text1">가입인사</p>
            </button>
            <button class="Topic_Select_btn1">
                <p class="Topic_Select_text1">구해요</p>
            </button>
            <button class="Topic_Select_btn1">
                <p class="Topic_Select_text1">함께해요</p>
            </button>
            <button class="Topic_Select_btn1">
                <p class="Topic_Select_text1">아트포럼</p>
            </button>
            <button class="Topic_Select_btn1">
                <p class="Topic_Select_text1">활동홍보</p>
            </button>
            <button class="Topic_Select_btn1">
                <p class="Topic_Select_text1">질문이요</p>
            </button>
            <button class="Topic_Select_btn1">
                <p class="Topic_Select_text1">레슨</p>
            </button>
            <button class="Topic_Select_btn1">
                <p class="Topic_Select_text1">자유/잡담</p>
            </button>
            <button class="Topic_Select_btn1">
                <p class="Topic_Select_text1">추천해요</p>
            </button>
            

        </div>

    </body>
</html>