.communityfilterpost > p{
    width: 70px;
    height: 16px;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 12px 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.communityfilterpost > p:hover{
    font-size: 15px;
    
}