.cpc__title{
    width: 90px;
  height: 14px;
  font-family: 'Nanum Gothic';
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #555555;
  margin-top: 15px;
  margin-left: 15px;
  
}

.cpc__hashtag{
    width: 300px;
    height: 14px;
    font-family: 'Nanum Gothic';
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    float: left;
    color: #000000;
    margin-top: 15px;
    margin-right: 100px;
}

.cpc__bookmark{
    width: 25px;
    height: 33px;
    margin-right: 25px;
    margin-top: 1px;

}
.cpc__bookmark:hover{
    opacity: 2;   
}

.cpc__header{
    display: flex;

}

.communitypostcard{
    width: 350px;
    height: 209px;
    margin-left: 10px;
    margin-top: 17px;
    border-radius: 8px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    cursor: pointer;
}

.communitypostcard:hover{
   opacity: 0.77;

}

.cpc__feed1{
    margin-left: 10px;
    margin-top: 15px;
}

.cpc__bigtitle{
  width: 330px;
  height: 19px;
  font-family: 'Nanum Gothic';
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.cpc__feed2{
    margin-left: 10px;
    margin-top: 10px;
}

.cpc__post{
    width: 330px;
    height: 52px;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.28px;
    text-align: left;
    color: #333333;
}

.cpc__avatar{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}

.cpc__name{
    width: 250px;
    height: 16px;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-left: 10px;
}

.cpc__namehashtag{
    width: 250px;
    height: 14px;
    font-family: 'Nanum Gothic';
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.22px;
    text-align: left;
    color: #333333;
    margin-left: -248px;
    margin-top: 23px;
    
}

.cpc__reimg{
    margin-top: 17px;
    margin-right: 2px;
}

.cpc__re{
    margin-top: 17px;
    margin-right: 10px;
}