.Landingpage{
    margin: 0;
    padding: 0;
    width: 390px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

  }
  @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
  

   a{  text-decoration: none;
    font-size: 12px;
    color: rgb(0, 0, 255);
    
  }
  .line{
    width: 370px;
    height: 0;
    margin: 19px 0 0 20px;
    border: solid 2px #ededed;
  }
  .App .h11{
    width: 229px;
  height: 70px;
  margin-top: 80px;
  margin-right: 151px;
  margin-bottom: 19px;
  margin-left: 20px;
  font-family: 'Nanum Gothic';
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  
  }
  .Logo{
    width: 150px;
    height: 92px;
    margin: 0px 45px 15px 20px;
    font-family: 'Nanum Gothic';
    font-size: 80px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;}
    
  
  .icon{
    position: absolute;
    margin-left: 107px;
    z-index: 1;
  }
  
  
  .rt{
    width: 350px;
    height: 33px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    margin-bottom: 47px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    font-family: 'Nanum Gothic';
  
  }
  .rrt{
    width: 310px;
    height: 14px;
    text-align: center;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Nanum Gothic';
  
    color: #ffffff;
    margin-top: 14px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 47px;
  }
  
  .btn_social > img{
    margin-left: 85px;
    margin-right: 85px;
    width: 220px;
  }
  .Landingpage > Button{
    margin-left: 85px;
    margin-right: 85px;
    width: 220px;
  }
  
  
  .globe{
    width: 60px;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 10px;
  
  }
  .underglobe{
    width: 180px;
    height: 21px;
    margin-top: 10px;
    margin-left: 105px;
    margin-right: 105px;
    margin-bottom: 25px;
    font-family: 'Nanum Gothic';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  
  .sotong{
    width: 320px;
  height: 33px;
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;
  font-family: 'Nanum Gothic';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  }
  
  .leftimg{
    width: 154px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 42px;
  }
  .rightimg{
    width: 154px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    position: absolute;
    
  }
  
  .leftmal{
    margin-left: 20px;
    margin-right: 42px;
    position: absolute;
    width: 154px;
    height: 14px;
    font-family: Nanum Gothic;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  .rightmal{
    margin-left: 216px;
    margin-bottom: 10px;
    width: 154px;
    height: 14px;
    font-family: Nanum Gothic;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  
  .white{
    background-color: white;
  }
  
  .white .team{
    width: 320px;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 55px;
  }
  
  .white .hash{
    width: 370px;
  height: 236px;
  margin: 55px 0 55px 20px;
  object-fit: contain;
  }
  
  .white .key{
    width: 370px;
  height: 236px;
  margin: 55px 20px 55px 0;
  object-fit: contain;
  }
  
  .white .post{
    width: 370px;
  height: 491px;
  margin: 55px 0 0 20px;
  object-fit: contain;
  }