.my__bookmark{
    display: flex;
    width: 170px;
    height: 70px;
    margin: 30px 10px 10px 10px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    cursor: pointer;
}

.my__bookmark:hover{
    opacity: 0.87;
}

.my__bookmark__img{
    width: 19px;
    height: 25px;
    margin-top: 23px;
    margin-left: 15px;
}

.my__bookmark__text{
    width: 94px;
    height: 23px;
    font-family: 'Nanum Gothic';
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-left: 27px;
    margin-top: 23px;

}

.mymymy{
    display: flex;
}

.my__logout{

    width: 170px;
    height: 70px;
    margin: 0px 10px 30px 10px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    cursor: pointer;

}

.my__logout:hover{
    opacity: 0.87;
}

.my__logout__img{
    width: 19px;
    height: 25px;
    margin-top: 23px;
    margin-left: 17px;
}

.my__logout__text{
    width: 80px;
    height: 23px;
    font-family: 'Nanum Gothic';
    font-size: 20px;
    font-weight: 900;

    text-align: left;
    color: #333333;
    margin-left: 60px;
    margin-top: -27px;
}


.my__event{
    display: flex;
    width: 170px;
    height: 70px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    cursor: pointer;   

}
.my__apply{
    display: flex;
    width: 170px;
    height: 70px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 10px;

}
.my__contact{
    display: flex;
    width: 170px;
    height: 70px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 10px;

}

.my__event__text{
    width: 155px;
    height: 23px;
    font-family: 'Nanum Gothic';
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 10px;

    text-align: left;
    color: #333333;
}
.my__apply__text{
    width: 155px;
    height: 23px;
    font-family: 'Nanum Gothic';
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 10px;

    text-align: left;
    color: #333333;
}
.my__contact__text{
    width: 155px;
    height: 23px;
    font-family: 'Nanum Gothic';
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    color: #333333;
}

.my__apply:hover{
    opacity: 0.87;
}
.my__contact:hover{
    opacity: 0.87;
}
.my__event:hover{
    opacity: 0.87;
}