.mypartner{
    width: 170px;
    height: 230px;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin: 0px 10px 30px 10px;
    cursor: pointer;
}

.mypartner > p{
    width: 107px;
    height: 23px;
    margin: 10.5px 63px 17px 10px;
    font-family: NanumGothic;
    font-size: 20px;
    font-weight: 800;

    text-align: left;
    color: #333333;
}

.mypartner > img{
    width: 170px;
    height: 180px;
}

.mypartner:hover{
    opacity: 0.87;
}