.pageindicator__page{
    width: 40px;
    height:40px;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    
}
.pageindicator__page:hover{
    background-color: #d4d4d4;

    
}
.pageindicator{
    display: flex;
    margin-top: 48px;
}

.pageindicator__left > button{
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 116px;
}
.pageindicator__left > button:hover{
    background-color: #d4d4d4;
}
.pageindicator__right > button{
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.pageindicator__right > button:hover{
    background-color: #d4d4d4;
}
.pageindicator__page > p{
    margin-top: 9.5px;
    width: 40px;
  height: 16px;
  font-family: NanumGothic;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}