.sponsorLogo > img{
    width: 120px;
    margin-top: 20px;
    margin-left: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 100ms ease-in;


}

.sponsorLogo > p{
    width: 120px;
    height: 21px;
    margin: 15px 0 0 20px;
    font-family: 'Nanum Gothic';
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.hidden__soobin > h1{
    color: white;
}

.sponsorLogo:hover{
    transform: scale(1.07);
}

