.story3{
    position: relative;
    transition: transform 100ms ease-in;
    cursor: pointer;
    width: 350px;
    margin-left: 10px;
    margin-top: 20px;
    height: 90px;
    padding-right: 2px;
    border-radius: 8px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.story3 > img{
    width: 85px;
    height: 90px;
    margin: 0 16px 0 0;
    border-radius: 8px;
}



.story3:hover{
    transform: scale(1.01);
}




.story3__div__1{
    position: absolute;
    bottom: 30px;
    margin-left: 101px;
    color: rgb(0, 0, 0);
    width: 270px;
    height: 51px;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.67;
    text-align: left;
}
.story3__div__2{
    position: relative;
    color: #606060;
    width: 237px;
    height: 51px;
    font-size: 12px;
    line-height: 1.67;
    margin-left: 101px;
    bottom: 50px;
}



