.teamchanneltag > button > p{
    width: 45px;
    height: 16px;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.teamchanneltag > button{
    text-align: center;
    height: 36px;
    border-radius: 5px;
    margin-left: 15.6px;
    border: solid 1px #ededed;
    background-color: #ffffff;
    cursor: pointer;
}

.teamchanneltag > button:hover{
    background-color: #bebebe;
}
