<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>4RT - HOME</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
        <link rel="stylesheet" href="../static/css/editmyprofile.css">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    </head>
    <body>
        <h1 class="edit">프로필 편집</h1>
        <div class="card">
            <img src="../static/css/img/Profile Picture@3x.png" alt="" class="profile">
            <img src="../static/css/img/bookmark@3x.png" alt="" class="bookmark">
            <input type="text" placeholder="닉네임" class="nickname">
            <input type="text" placeholder="#해시태그 (최대 5개)" class="hashtag">
            <input type="text" placeholder="간략소개" class="intro">
            <div>
                <img src="../static/css/img/인스타그램 로고 타원@3x.png" alt="" class="insta">
                <img src="../static/css/img/Button(30)-small@3x.png" alt="" class="byun">
            </div>

            <div class="box">
                <p class="wan">프로필 완료</p>
            </div>
            

        </div>

        <p class="seol">프로필 설정</p>


<hr class="uuu">









        <nav class="navbar">
            


            <ul class="mobile-list">
                
                <a href="./home.html"><li><img src="../static/css/img/home@3x.png" alt=""></li></a>
                <a href="./Artists.html"><li><img src="../static/css/img/user-plus@3x.png" alt=""></li></a>
                <a href="./Business.html"><li><img src="../static/css/img/briefcase@3x.png" alt=""></li></a>
                <a href="./Notification.html"><li><img src="../static/css/img/icon-Bell@3x.png" alt=""></li></a>
                <a href="./Menu.html"><li><img src="../static/css/img/menu@3x.png" alt=""></li></a>
                


            </ul>
        </nav>
        
    </body>
</html>