<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>test</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        
        <nav class="navbar">
            <h1 class="logo">4rtist</h1>
            <ul class="desktop">
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">projects</a></li>
                <li><a class="ctn" href="#">contact us</a></li>

            </ul>
            <ul class="mobile-list">
                <li><img src="../static/css/img/home@3x.png" alt=""></li>
                <li><img src="../static/css/img/home@3x.png" alt=""></li>
                <li><img src="../static/css/img/home@3x.png" alt=""></li>
                <li><img src="../static/css/img/home@3x.png" alt=""></li>
                <li><img src="../static/css/img/home@3x.png" alt=""></li>


            </ul>
        </nav>
    </body>
</html>