<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>4RT - LandingPage</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
        <link rel="stylesheet" href="../static/css/landing_page.css">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    </head>
    <body>
        <h1 class="art">예술을 위한 아티스트 소셜 네트워크</h1>
        
        <hr style="width: 360px;
        height: 2px;
        margin: 19px 0 18px 20px;
        background-color: #ededed;">
        <h1 class="logo">4RT</h1>
        <p class="rt">예술과 관련된 다양한 사람들을 만날 수 있는 <b>4RT</b> <br>
            다양한 아티스트와 소통하며 예술활동을 공유하고, 협업해보세요</p>


            <a href="javascript:;" class="btn_social" data-social="facebook"><img src="../static/css/img/icon(circle)-구글로그인@3x.png" alt="" ></a><br/><br>
            <a href="javascript:;" class="btn_social" data-social="google"><img src="../static/css/img/naver-icon-circle@3x.png" alt="" ></a><br/><br>
            <a href="javascript:;" class="btn_social" data-social="kakao"><img src="../static/css/img/icon(circle)-Facebook@3x.png" alt="" ></a><br/><br>
            <a href="javascript:;" class="btn_social" data-social="naver"><img src="../static/css/img/icon(circle)-카카오@3x.png" alt="" ></a><br/>
            <br>
            <script>
                let socials = document.getElementsByClassName("btn_social");
                for(let social of socials) {
                    social.addEventListener('click', function(){
                        let socialType = this.getAttribute('data-social');
                        location.href="/oauth2/authorization/" + socialType;
                    })
                }
            </script>

            <hr style="width: 316px;
            height: 2px;
            margin-top: 39px;
            margin-left: 37px;
            margin-right: 37px;
            margin-bottom: 14px;
            background-color: #aaaaaa;">

            <p class="rrt">회원가입 시 <a href="">
                이용약관</a>  및 <a href="">
                    개인정보처리방침
                </a>에 동의하게됩니다.</p>
            <img src="../static/css/img/ICON_2021-05-19/ICON@3x.png" alt="" class="globe">

            <p class="underglobe">아티스트 소셜 네트워크</p>
            <p class="sotong">음악, 무용, 미술, 전통, 다원 등 다양한 분야의 예술인들과
                예술활동을 공유하며 소통해보세요</p>

            <img src="../static/css/img/무용.png" alt="" class="leftimg">
            <p class="leftmal">#무용 #발레 #안무가</p>
            <img src="../static/css/img/첼로.png" alt="" class="rightimg">
            <p class="rightmal">#클래식 #첼로 #현대음악</p>

            <img src="../static/css/img/댄스.png" alt="" class="leftimg">
            <p class="leftmal">#스트리트 #댄스</p>

            <img src="../static/css/img/싱어송라이터.png" alt="" class="rightimg">
            <p class="rightmal">#싱어송라이터 #인디</p>

            <img src="../static/css/img/작곡.png" alt="" class="leftimg">
            <p class="leftmal">#작곡 #편곡 #지휘 #영상작곡</p>

            <img src="../static/css/img/거문고.png" alt="" class="rightimg">
            <p class="rightmal">#전통예술 #국악 #거문고</p>

            <img src="../static/css/img/전자음악.png" alt="" class="leftimg">
            <p class="leftmal">#전자음악 #사운드디자인</p>

            <img src="../static/css/img/설치.png" alt="" class="rightimg">
            <p class="rightmal">#설치 #시각 #다원예술</p>

            <img src="../static/css/img/미술.png" alt="" class="leftimg">
            <p class="leftmal">#미술 #페인팅 #특수분장</p>

            <img src="../static/css/img/패션아트.png" alt="" class="rightimg">
            <p class="rightmal">#패션아트</p>

            <img src="../static/css/img/공예.png" alt="" class="leftimg">
            <p class="leftmal">#공예 #조각 #소품</p>

            <img src="../static/css/img/영상아트.png" alt="" class="rightimg">
            <p class="rightmal">#영상아트 #포토그래퍼</p>

            <img src="../static/css/img/감독.png" alt="" class="leftimg">
            <p class="leftmal">#감독 #연출</p>

            <img src="../static/css/img/작가.png" alt="" class="rightimg">
            <p class="rightmal">#작가 #스토리 #시나리오</p>

            
            <div class="white">
                <img src="../static/css/img/협업 앤 팀 빌딩.png" alt="" class="team">
                <img src="../static/css/img/해시태그검색_2021-05-20/해시태그검색@3x.png" alt="" class="hash">
                <img src="../static/css/img/키워드검색_2021-05-20/키워드검색@3x.png" alt="" class="key">
                <img src="../static/css/img/게시글업로드_2021-05-20/게시글업로드@3x.png" alt="" class="post">
            
            </div>
            <p style="margin-top: 194px;">4rt</p>
        
    </body>
</html>