<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>4RT - NOTIFICATION</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
        <link rel="stylesheet" href="../static/css/Notification.css">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    </head>
    <body>
        
        <nav class="navbar">
            <a href="./home.html"><h1 class="logo">4rtist</h1></a>
            
            <ul class="mobile-list">
                
                <a href="./home.html"><li><img src="../static/css/img/home@3x.png" alt=""></li></a>
                <a href="./Artists.html"><li><img src="../static/css/img/user-plus@3x.png" alt=""></li></a>
                <a href="./Business.html"><li><img src="../static/css/img/briefcase@3x.png" alt=""></li></a>
                <a href="./Notification.html"><li><img src="../static/css/img/icon-Bell@3x.png" alt=""></li></a>
                <a href="./Menu.html"><li><img src="../static/css/img/menu@3x.png" alt=""></li></a>
                


            </ul>
        </nav>
        
    </body>
</html>