<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>4RT - sign_up</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
        <link rel="stylesheet" href="../static/css/sign_up.css">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700" rel="stylesheet">
    </head>
    <body>
        <h1 class="signup">회원가입</h1>
        <h1 class="artist">아티스트 회원</h1>
        <hr class="first">
        <p class="insta">4RT를 이용하기 위해서 인스타그램 계정을 등록하셔야 합니다.</p>
        <img src="../static/css/img/Profile Card@3x.png" alt="" class="profile">
        <p class="under">인스타그램 계정 등록하고 프로필 작성하기
            <img src="../static/css/img/chevrons-down_2021-05-23/chevrons-down@3x.png" alt="" class="down">

        </p>
        <a href="#"><img src="../static/css/img/Button 인스타그램 계정등록 @3x.png" alt="" class="in"></a>
        
        <p class="busy">비즈니스 회원</p>
        <hr class="first">
        <p class="yoyo">예술 관련 비즈니스를 하시나요?</p>
        <img src="../static/css/img/Button-멤버십결제@3x.png" alt="" class="membership">

        
    </body>
</html>